@import "./footer.css";
@import "./header.css";
@import "./navbar.css";
@import "./mobileMenu.css";
@import "./swiper.min.css";

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Neue'), url('https://fonts.cdnfonts.com/s/14902/BebasNeue Regular.woff') format('woff');
}
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Neue'), url('https://fonts.cdnfonts.com/s/14902/BebasNeue.woff') format('woff');
}
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Neue'), url('https://fonts.cdnfonts.com/s/14902/BebasNeue-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Neue'), url('https://fonts.cdnfonts.com/s/14902/BebasNeue Book.woff') format('woff');
}
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 200;
    src: local('Bebas Neue'), url('https://fonts.cdnfonts.com/s/14902/BebasNeue Thin.woff') format('woff');
}
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 300;
    src: local('Bebas Neue'), url('https://fonts.cdnfonts.com/s/14902/BebasNeue Light.woff') format('woff');
}
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Bebas Neue'), url('https://fonts.cdnfonts.com/s/14902/BebasNeue Bold.woff') format('woff');
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: 250;
    src: local('Roboto Thin'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Thin';
    font-style: italic;
    font-weight: 250;
    src: local('Roboto Thin'), url('https://fonts.cdnfonts.com/s/12165/Roboto-ThinItalic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Light.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Light';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light'), url('https://fonts.cdnfonts.com/s/12165/Roboto-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium'), url('https://fonts.cdnfonts.com/s/12165/Roboto-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Black.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Black';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black'), url('https://fonts.cdnfonts.com/s/12165/Roboto-BlackItalic.woff') format('woff');
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-white: #fff;

    --sm: 576px;
    --lg: 1124px
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 1074px;
    margin: 0 auto;
}

@media screen and (max-width: 1124px) {
    .container {
        width: 100%;
        max-width: unset;
        padding: 0 30px;
    }
}